body
  background: #eee

.container.gray
  background: #eee

.container
  background: #fff

.container.bottom-distance
  padding-bottom: 2em
.container.top-distance
  padding-top: 2em

#home-top-slider
  padding-top: 0em

#home-tab-set
  .home-tab-control
    line-height: 6em
    background-color: #ddd
    color: #fff
    display: block
    @include border-radius(0.75em)

#home-faq-slider

#home-doctors-slider
  .home-doctors-control
    display: block
    line-height: 4em
    +background-image(linear-gradient(#eee, #ccc))
    margin-bottom: 1em
    color: #444

#home-latest-news

#home-latest-news

.us-footer-navbar
  display: table
  margin: 0 auto
  float: none

.us-top-video
  line-height: 2em
  height: 2em
  background-color: rgba(0, 0, 0, 0.5)
  color: #fff

.us-top-navbar
  margin-top: 2em